<a [routerLink]="[facilityId]"><button class="btn btn-default">Back to Reservations</button></a>

<div id="products" class="row list-group">
    <div class="item  col-xs-4 col-lg-4" style="margin-left: 35%;">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://i.ebayimg.com/00/s/NTUyWDg2OQ==/z/AXgAAOSw-dBTtP4L/$_32.JPG?set_id=880000500F" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    New Reservation
                </h4>
                <form class="form-group" [formGroup]="newReservationForm" (ngSubmit)="submitNewReservation($event)">
                    <input required  type="text" class="form-control" id="name" formControlName="customerName">
                    <input required type="datetime-local" class="form-control" id="date" formControlName="date">
                    <label>Walk or Ride?</label>
                    <select required class="form-control" id="walk-ride"  formControlName="walkRide">
                        <option>Walk</option>
                        <option>Ride</option>
                    </select>
                    
                    <ul class="list-group">
                        <div id="equipment-price-input-field-block">
                            <div formArrayName="equipments">
                                <div *ngFor="let equipmentBlock of newReservationForm.controls.equipments.controls; let i=index">
                                    <div>
                                        <label>Equipment  {{ i + 1 }}</label>
                                        <span *ngIf="newReservationForm.controls.equipments.controls.length > 1" (click)="removeNewEquipmentInput(i)">(<a>Remove</a>)</span>
                                    </div>
                                    
                                    <div [formGroupName]="i">
                                        <div>
                                            <select class="form-control" id="equipment" formControlName="equipment">
                                                <option *ngFor="let equipmentSold of equipmentsSold; let i = index" value="{{equipmentSold['equipmentId']}}">{{ equipmentSold['equipmentName'] }} | Price: {{ equipmentSold['price']  | currency:'USD':true }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span (click)="addNewEquipmentInput()">(<a>Add More</a>)</span>
                                </div>
                            </div>
                        </div>
                    </ul>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <button class="btn btn-success" type="submit" >Submit</button><!--[disabled]="!newReservationForm.valid">Submit</button-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>