<header [ngClass]="{'medium-riding':medium === 'Riding', 'medium-series':walking === 'Walking'}">
    <h2>{{medium}}</h2>
    <div>{{ mediaItems | categoryList }}</div>
</header>
<section>
    <mw-media-item [ngClass]="{'medium-riding': mediaItem.medium==='Riding', 'medium-walking':mediaItem.medium==='Walking'}" *ngFor="let mediaItem of mediaItems" [mediaItem]="mediaItem" (delete)="onMediaItemDelete($event)"></mw-media-item>
</section>
<footer>
    <a routerLink="/add">
        <img src="media/01.png" class="icon" />
    </a>
</footer>