<header>
    <h2>Reservation</h2>
</header>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <ul>
        <li>
            <label for="medium">Walk/Ride</label>
            <select name="medium" id="medium" formControlName="medium">
        <option *ngFor="let medium of lookupLists.mediums" value="{{medium}}">{{medium}}</option>
      </select>
        </li>
        <li>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" formControlName="name">
            <div *ngIf="form.controls.name.errors?.pattern" class="error">
                Name has invalid characters
            </div>
        </li>
        <li>
            <label for="category">Rentals/Equipment</label>
            <select name="category" id="category" formControlName="category">
        <option value="Golf Cart">Golf Cart</option>
        <option value="Pull Cart">Pull Cart</option>
        <option value="Golf Clubs">Golf Clubs</option>
        <option value="Golf Balls">Golf Balls</option>
        <option value="Golf Tees">Golf Tees</option>
        <option value="Golf Shoes">Golf Shoes</option>
      </select>
        </li>
        <li>
            <label for="Date">Date</label>
            <input type="text" name="year" id="year" maxlength="255" formControlName="year">
            <div *ngIf="form.controls.year.errors?.year" class="error">
                Must be between {{form.controls.year.errors?.year.min}} and {{form.controls.year.errors?.year.max}}
            </div>
        </li>
    </ul>
    <button type="submit" [disabled]="!form.valid">Save</button>
</form>