<a [routerLink]="['/facilities']"><button class="btn btn-default">Back to Facilties</button></a>
<!--list view obtained from: http://bootsnipp.com/snippets/db39 along with corresponding css and js-->
<div class="container">
    <div class="well well-sm">
        <strong>Change View</strong>
        <div class="btn-group">
            <button id="list" class="btn btn-default btn-sm" (click)="reservationsListView($event)">
                <span class="glyphicon glyphicon-th-list">
                </span>List
            </button>
            <button id="grid" class="btn btn-default btn-sm" (click)="reservationsGridView($event)">
                <span class="glyphicon glyphicon-th"></span>Grid
            </button>
        </div>
    </div>
    
    <!--Default Grid View-->
    <div id="products" class="row list-group" *ngIf="useGridView">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://i.ebayimg.com/00/s/NTUyWDg2OQ==/z/AXgAAOSw-dBTtP4L/$_32.JPG?set_id=880000500F" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Reservation #</h4>
                    <p class="group inner list-group-item-text">
                        Name:
                    </p>
                    <p class="group inner list-group-item-text">
                        Date:
                    </p>
                    <p class="group inner list-group-item-text">
                        Time:
                    </p>
                    <p class="group inner list-group-item-text">
                        Walk/Ride:
                    </p>
                    <label style="display:flex;">Equipment(s):</label>
                    <ul class="list-group" style="display:inline-block">
                        <li class="list-group-item">
                            Equipment Name: Price
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <button class="btn btn-success" (click)="addNewReservation($event)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4" *ngFor="let reservation of reservations; let i = index">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://i.ebayimg.com/00/s/NTUyWDg2OQ==/z/AXgAAOSw-dBTtP4L/$_32.JPG?set_id=880000500F" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Reservation #{{reservation['_id']}}
                    </h4>
                    <p class="group inner list-group-item-text">
                        Name: {{ reservation['customerName'] }}
                    </p>
                    <p class="group inner list-group-item-text">
                        Date: {{ reservation['date'] | date:'fullDate' }}
                    </p>
                    <p class="group inner list-group-item-text">
                        Time: {{ reservation['date'] | date:'shortTime' }}
                    </p>
                    <p class="group inner list-group-item-text">
                        Walk or Ride: {{ reservation['walkRide'] }}
                    </p>
                    <label style="display:flex;">Equipment(s):</label>
                    <ul class="list-group" style="display:inline-block">
                        <li class="list-group-item" *ngFor="let equipment of reservation['equipments']; let j = index">
                            {{ equipment['equipmentName'] }}: {{ equipment['price']  | currency:'USD':true }}
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <!--button class="btn btn-success">Edit</button-->
                            <!--need to figure out how onclick events work-->
                            <button class="btn btn-success" (click)="deleteReservation($event, reservation['_id'])">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--use list-view-->
    <div id="products" class="row list-group" *ngIf="!useGridView">
        <div class="item list-group-item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://i.ebayimg.com/00/s/NTUyWDg2OQ==/z/AXgAAOSw-dBTtP4L/$_32.JPG?set_id=880000500F" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Reservation #</h4>
                    <p class="group inner list-group-item-text">
                        Name:
                    </p>
                    <p class="group inner list-group-item-text">
                        Date:
                    </p>
                    <p class="group inner list-group-item-text">
                        Time:
                    </p>
                    <p class="group inner list-group-item-text">
                        Walk/Ride:
                    </p>
                    <label style="display:flex;">Equipment(s):</label>
                    <ul class="list-group" style="display:inline-block">
                        <li class="list-group-item">
                            Equipment Name: Price
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <button class="btn btn-success" (click)="addNewReservation($event)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item list-group-item col-xs-4 col-lg-4" *ngFor="let reservation of reservations; let i = index">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://i.ebayimg.com/00/s/NTUyWDg2OQ==/z/AXgAAOSw-dBTtP4L/$_32.JPG?set_id=880000500F" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Reservation #{{reservation['_id']}}</h4>
                    <p class="group inner list-group-item-text">
                        Name: {{ reservation['customerName'] }}
                    </p>
                    <p class="group inner list-group-item-text">
                        Date: {{ reservation['date'] }}
                    </p>
                    <p class="group inner list-group-item-text">
                        Time: {{ reservation['time'] }}
                    </p>
                    <p class="group inner list-group-item-text" *ngIf="reservation['walk']">
                        Walking
                    </p>
                    <p class="group inner list-group-item-text" *ngIf="!reservation['walk']">
                        Riding
                    </p>
                    <label style="display:flex;">Equipment(s):</label>
                    <ul class="list-group" style="display:inline-block">
                        <li class="list-group-item" *ngFor="let equipment of reservation['equipments']; let j = index">
                            {{ equipment['equipmentName'] }}: {{ equipment['price']  | currency:'USD':true }}
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <!--button class="btn btn-success">Edit</button-->
                            <!--need to figure out how onclick events work-->
                            <button class="btn btn-success" (click)="deleteReservation($event, reservation['_id'])">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>